<div class="container">
  <h1>Create New Category</h1>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="category">Category Name : </label>
      <input
          formControlName="category"
          id="category"
          type="text"
          class="form-control"
      >
    </div>
      <button type="submit"> Save Category </button>
  </form>

</div>
