
<div id="modal-content-wrapper">
  <header id="modal-header">
      <h1 id="modal-title">Are you sure you want to Delete Expsne :{{expense.expName}}</h1>
  </header>

  <footer id="modal-footer">
      <button mat-raised-button id="modal-action-button" (click)="deletExpese()">Delete</button>
      <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
  </footer>

</div>
