<html>
<div class="container">
  <h1>Create New Expense</h1>

  <form [formGroup]="expenseService.createExpenseForm" (ngSubmit)="submit()" >
    <ul class="form-style-1">

      <div class="form-group">

        <input
            formControlName="id"
            id="id"
            type="hidden"
            class="form-control"
            >
   </div>

      <div class="form-group">
          <label for="expName">Expense Name : </label>
          <input
              formControlName="expName"
              id="expName"
              type="text"
              class="form-control"
              >
     </div>

      <div class="form-group">
          <label for="description">Description : </label>
          <input
              formControlName="comments"
              id="comments"
              type="text"
              class="form-control"
              >
      </div>

      <div class="form-group">
        <label for="expName">Amount : </label>
        <input
            formControlName="amount"
            id="amount"
            type="text"
            class="form-control"
            >
     </div>


      <div class="form-group">
        <label for="category">category  : </label>
          <select  class="form-control" id="category"  formControlName="category"  >
            <option  [ngValue]="c.id" *ngFor="let c of expenseService.categoriesList">
             {{c.name}}
            </option>
         </select>
         <a [routerLink]="[{ outlets: {mainmenu:['category'] } }]" routerLinkActive="active">
          Not found Category? Create Category</a>
       </div>

       <div class="form-group">
        <label for="contributor">contributor  : </label>
          <select  class="form-control" id="contributor"  formControlName="contributor" >
            <option [ngValue]="d.id" *ngFor="let d of expenseService.contributorList">
             {{d.contributorName}}
            </option>
         </select>
       </div>


      <div class="form-group">
          <label for="date">Date : </label>
          <input
              formControlName="date"
              id="date"
              type="date"
              class="form-control"
              >
      </div>

      <input type="submit">
    </ul>
  </form>
</div>

</html>
