.site-header .main-nav .main-sections {
    display: -webkit-box;
    display: flex;
    height: 100%;
}

.site-header .header-middle-area {
    -webkit-box-flex: 1;
    flex: 1;
}

.site-header .main-nav .main-sections>li>a {
    font-family: Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-weight: 700;
    font-size: .9rem;
    height: 100%;
    color: #ebe;
    padding: .5rem;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-right: 0px solid #201c29;
    -webkit-transition: .1s;
    transition: .1s;
}


.site-header .logo, .site-header .logo>a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.site-header .header-middle-area {
    -webkit-box-flex: 1;
    flex: 1;
}

.site-header .main-nav {
    height: 100%;
}

.site-header .main-nav .main-sections {
    display: -webkit-box;
    display: flex;
    height: 100%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

nav ol, nav ul {
    list-style: none;
    list-style-image: none;
}

html {
    --maxWidth: 1284px;
    scrollbar-color: linear-gradient(180deg,#ff8a00,#e52e71);
    scrollbar-width: 30px;
    background: #100e17;
    color: #fff;
    overflow-x: hidden;
}


