#expenses {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#expenses td, #expenses th {
  border: 1px solid #ddd;
  padding: 8px;
}

#expenses tr:nth-child(even){background-color: darkgray;}

#expenses tr:hover {background-color: #ddd;}

#expenses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightblue;
  color: white;
}

input[type=submit],input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}


input[type=month], select {
    width: 20%;
    padding: 6px 26px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


table {
  width: 100%;
}

.hide{
  display:none;
}

mat-footer-row mat-footer-cell {
  align: center;
  font: italic;
}
