<html>
<div class="cotainer">

</div>

<div class="mat-elevation-z8">



  <table mat-table [dataSource]="expenseList" class="mat-elevation-z8" matSort mat>
    <ng-container matColumnDef="expName">
      <th mat-header-cell *matHeaderCellDef > Expense Name </th>
      <td mat-cell *matCellDef="let element"> {{element.expName}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="contributor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contributor </th>
      <td mat-cell *matCellDef="let element"> {{element.contributor.contributorName}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openUpdateExpenseModal(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button (click)="openDeleteExpenseModal(row)"><mat-icon>delete_outline</mat-icon></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading.......
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="nodata">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No Data.......
      </mat-footer-cell>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="expenseTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: expenseTableColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': expenseList!=null}"></tr>
    <tr mat-footer-row *matFooterRowDef="['nodata']" [ngClass]="{'hide': !(expenseList!=null && expenseList.data.length==0)}"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

</html>
