<header class="site-header" id="site-header">


  <div class="header-middle-area">
    <nav class="main-nav" id="main-nav">

    <ul class="main-sections">

    <li class="articles">


        <a [routerLink]="[{ outlets: {submenu: ['expensesByRange'] } }]" routerLinkActive="active">
          Expenses By Range
       </a>


    </li>

    <li class="articles">
       <a [routerLink]="[{ outlets: {submenu: ['monthlyExpenseReport'] } }]" routerLinkActive="active">
          Expenses Monthly
       </a>
    </li>
    <li class="almanac">

          <a [routerLink]="[{ outlets: {submenu: ['dailyExpenseReport'] } }]" routerLinkActive="active">
            Expenses Daily
         </a>
    </li>
    </ul>
    </nav>

    <nav>
      <router-outlet name='submenu'></router-outlet>
    </nav>

    </div>
  </header>
