<link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
/* You can add global styles to this file, and also import other style files */
html {
    --maxWidth: 1284px;
    scrollbar-color: linear-gradient(180deg,#ff8a00,#e52e71);
    scrollbar-width: 30px;
    background: #100e17;
    color: #fff;
    overflow-x: hidden;
}

